<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Dhblog.Api.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="DHBLOG_ENV" value="dev" />
          <environmentVariable name="DHBLOG_USE_AWS" value="true" />
          <environmentVariable name="AWS_REGION" value="us-west-2" />
          <environmentVariable name="AWS_PROFILE" value="AdminPublish" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>